@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", serif;
}

/* shared styles */

main section, .stories-box {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.primary-btn {
    width: 10em;
    height: 2.5em;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
}

/* nav styles */

nav {
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    display: none;
}

nav ul {
    gap: 2rem;
}

nav li {
    list-style: none;
    font-size: 1.25rem;
}

.nav-btn {
    background-color: orange;
    color: white;
}

#list-1 {
    color: orange;
}

#list-2 {
    color: skyblue;
}

#list-3 {
    color: #05D4DF;
}

#list-4 {
    color: #5D58EF;
}

/* banner styles */

.banner-section {
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.banner-details {
    width: 640px;
}

.banner-title {
    font-size: 3.9rem;
    margin-bottom: 24px;
}

.banner-btn {
    background-color: black;
    color: white;
}

.banner-img {
    width: 100%;
}

#empower {
    color: orange;
}

#vison {
    color: #05D4DF;
}

/* curriculum styles */

.curriculum-section {
    text-align: center;
    background-image: url(../assets/bg.png);
    background-size: cover;
}

.curriculum-section > h1 {
    font-size: 2.875rem;
}

.curriculum-container {
    margin-top: 5rem;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.curriculum-container .curriculum-card {
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.199);
}

.curriculum-title {
    font-size: 1.25rem;
}

.read-more a {
    text-decoration: none;
}

#kinder-card {
    background-image: linear-gradient(rgba(222, 245, 255, 1), white 40%);
}

#read1 {
    color: #64C8FF;
}

#elementary-card {
    background-image: linear-gradient(rgba(255, 244, 220, 1), white 40%);
}

#read2 {
    color: #F0AA00;
}

#middle-card {
    background-image: linear-gradient(rgba(242, 232, 255, 1), white 40%);
    font-size: 1rem;
}

#read3 {
    color: #8700FF;
}

.btn-container {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.btn-container .btn {
    background-color: orange;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* stories styles */

.stories-section {
    width: 100%;
    background-image: url(../assets/bg.png), linear-gradient(white, #fea10148);
    margin-bottom: 100px;
}

.stories-section {
    text-align: center;
}

.stories-box {
    gap: 20px;
}

.large-card {
    background-color: white;
    width: 50%;
    border-radius: 16px;
}

.large-card-img img{
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
}

.large-card-btn {
    background-color: #3CD8E8;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 40px;
    margin-left: 20px;
    margin-top: -50px;
}

.large-card-title, .large-card-description {
    padding: 1em;
}

.small-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.small-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
}

.small-card-title {
    padding: 10px;
}

.small-card {
    background-color: white;
    border-radius: 16px;
}

#green-bg {
    background-color: #95B226;
}

#purple-bg {
    background-color: #5D58F0;
}

.view-btn {
    background-color: black;
    color: white;
    margin-bottom: 60px;
}

.stories-title {
    font-size: 2.875rem;
}

/* responsive */

@media screen and (max-width: 576px) {
    nav .logo-title,
    nav ul li,
    nav button {
        display: none;
    }

    .nav-bar {
        display: block;
    }

    nav {
        margin: 0px;
        padding: 5px;
        justify-content: space-between;
        border: 1px solid orange;
    }

    .banner-section {
        width: auto;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .banner-details {
        width: auto;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-img-container {
        width: 90%;
    }

    .banner-img {
        width: 90%;
        height: auto;
    }

    .curriculum-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .curriculum-section h1 {
        width: auto;
    }

    .curriculum-container {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .curriculum-card {
        width: 100%;
    }

    .btn-container {
        display: none;
    }

    .stories-box {
        flex-direction: column;
    }

    .large-card {
        display: none;
    }

    .large-card-btn {
        text-align: center;
        padding: 7px;
    }
}