@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", serif;
}

/* shared styles */

main section {
    width: 80%;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.primary-btn {
    width: 10em;
    height: 2.5em;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
}

/* nav styles */

nav {
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    display: none;
}

nav ul {
    gap: 2rem;
}

nav li {
    list-style: none;
    font-size: 1.25rem;
}

.nav-btn {
    background-color: orange;
    color: white;
}

#list-1 {
    color: orange;
}

#list-2 {
    color: skyblue;
}

#list-3 {
    color: #05D4DF;
}

#list-4 {
    color: #5D58EF;
}

/* banner styles */

.banner-section {
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.banner-details {
    width: 640px;
}

.banner-title {
    font-size: 3.9rem;
    margin-bottom: 24px;
}

.banner-btn {
    background-color: black;
    color: white;
}

.banner-img {
    width: 100%;
}

#empower {
    color: orange;
}

#vison {
    color: #05D4DF;
}
/* responsive */

@media screen and (max-width: 576px) {
    nav .logo-title,
    nav ul li,
    nav button {
        display: none;
    }

    .nav-bar {
        display: block;
    }

    nav {
        margin: 0px;
        padding: 5px;
        justify-content: space-between;
        border: 1px solid orange;
    }

    .banner-section {
        width: auto;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .banner-details {
        width: auto;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-img-container {
        width: 90%;
    }

    .banner-img {
        width: 100%; /* Make image responsive */
        height: auto;
    }
}